[class]{
    font-style: italic;
}
[src]{
    height: 200px;
    width: 200px;
}
#red{
    color: red;
}
#blue{
    color: blue;
}
#orange{
    color: orange;
}
#green{
    color: green;
}
#yellow{
    color: yellow;
}
*{
    text-align: center;
}